<select class="form-control" name="${_name}" ${_required} ${_disabled} ${_multiple} class="form-control ${_class}" id="${_id}"
${_onchange == null ? '' : 'onchange=' +_onchange}>
    #{if _first}
        <option ${_firstValue == null ? 'value=' : 'value=' +_firstValue}>${_first}</option>
    #{/if}
    #{list items:_items, as:'obj'}
        <option value="${_valueProperty == null ? obj : obj[_valueProperty]}" 
            #{if _value == (_valueProperty == null ? obj : obj[_valueProperty])}
                selected
            #{/if}
        >${obj[_labelProperty]}</option>
    #{/list}
</select>