#{extends 'template/layout.html' /}
#{set title:'Barang' /}
#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css'}">
#{/set}
#{set 'moreScripts'}
<script src="@{'/public/lte/bower_components/datatables.net/js/jquery.dataTables.min.js'}"></script>
<script src="@{'/public/lte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/jszip.js'}"></script>
<script type="text/javascript" src="@{'public/js-xlsx/xlsx.js'}"></script>
<!-- <script type="text/javascript" src="@{'public/utils/download-trx.js'}"></script> -->
<script type="text/javascript" src="@{'public/utils/download-barang.js'}"></script>
<script type="text/javascript" src="@{'public/filesaver/FileSaver.min.js'}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    $(function () {
      $('table').DataTable();
    })
    var data_barang = ${transJson3.raw()};
    var data_transaksi1= ${transJson4.raw()};
    var data_transaksi2= ${transJson5.raw()};
    var data_transaksi3= ${transJson6.raw()};
    console.log(data_transaksi3);
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var datas = new google.visualization.DataTable();
        datas.addColumn('string', 'topping');
        datas.addColumn('number', 'buah');
        for (var i = 0; i < data_barang.length; i++) {
            datas.addRow([data_barang[i].nama,data_barang[i].stok]);
        }

        var options = {
            title: 'Jumlah Barang',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        chart.draw(datas, options);

        var data_transaksi = new google.visualization.DataTable();
        data_transaksi.addColumn('string', 'topping');
        data_transaksi.addColumn('number', 'item');
        for (var i = 0; i < data_transaksi1.length; i++) {
            console.log(data_transaksi1[i].barang);
            data_transaksi.addRow([data_transaksi2[i],data_transaksi1[i].jumlah_item]);
        }
        var options1 = {
            title: 'Transaksi Barang',
            curveType: 'function',
            legend: { position: 'bottom' }
        };
        var charts = new google.visualization.PieChart(document.getElementById('piechart'));
        charts.draw(data_transaksi, options1);

        var data_kopi = new google.visualization.DataTable();
        data_kopi.addColumn('string', 'topping');
        data_kopi.addColumn('number', 'item');
        for (var i = 0; i < data_transaksi3.length; i++) {
            data_kopi.addRow([data_transaksi3[i].tanggal,data_transaksi3.size]);
        }
        var options2 = {
            title: "",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };
        var chart1 = new google.visualization.BarChart(document.getElementById("barchart_values"));
        chart1.draw(data_transaksi, options2);


    }
</script>
#{/set}
#{if flash.success}   
    <div class="alert alert-success alert-with-icon alert-rounded" style="margin-bottom: 0 !important;padding: 5px !important;">
        <i class="fa fa-check"></i>&nbsp;${flash.get("success")}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>&nbsp;
        </button>
    </div>
    <br>
#{/if}
#{if loginInfo.role_id == 4}
<br/><br/>
#{/if}
<h1>Barang</h1><br>
<div id="curve_chart" style="width: 600px; height: 300px"></div><br><br>
<h1>Transaksi</h1><br>
<div id="piechart" style="width: 600px; height: 300px;"></div><br><br>
<div id="barchart_values" style="width: 600px; height: 300px;"></div><br><br><br><br><br>


