#{extends 'template/layout.html' /}
#{set title:'User' /}

<!-- Horizontal Form -->
<div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">New Password</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <h3>Password baru anda : ${newPassword}</h3>
  </div>
  <!-- /.box -->